$font-default: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-links: doodly_dialect;

$primary-color: #8d42b9;
$secondary-color: #6eb942;

$on-mobile: 512px;
$on-tablet: 768px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@font-face {
	font-family: doodly_dialect;
	font-style: normal;
	src: url("../assets/fonts/Doodly_Dialect.woff2");
}

@font-face {
	font-family: empty_windows;
	font-style: normal;
	src: url("../assets/fonts/Empty_Windows.woff2");
}

@font-face {
	font-family: fipps_regular;
	font-style: normal;
	src: url("../assets/fonts/Fipps-Regular.woff2");
}

@font-face {
	font-family: jetbrains_mono;
	src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.woff2");
}

@font-face {
	font-family: kiwisoda;
	font-style: normal;
	src: url("../assets/fonts/KiwiSoda.woff2");
}

@font-face {
	font-family: outward_bound;
	font-style: normal;
	src: url("../assets/fonts/Outward_Bound.woff2");
}

@font-face {
	font-family: retro_future;
	font-style: normal;
	src: url("../assets/fonts/Retro_Future.woff2");
}

@font-face {
	font-family: tomorrow_night;
	font-style: normal;
	src: url("../assets/fonts/Tomorrow_Night.woff2");
}

@font-face {
	font-family: whacky_joe;
	font-style: normal;
	src: url("../assets/fonts/Whacky_Joe.woff2");
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }

:root {
  font-family: $font-default;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
  border-bottom: $primary-color solid 4px;

  .header-title {
    font-family: doodly_dialect;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
  }
}
